{% extends "base.html.twig" %}
{% block title %} Page home {% endblock %}
{% block head %}
    {{ parent() }}
    {#    <style>#}
    {#        .important { color: darkblue; }#}
    {#    </style>#}
{% endblock %}
{% block mainTitle %}
    Campus
{% endblock %}
{# Content #}
{% block content %}
    <h1>Voici la liste des campus</h1>
{% endblock %}