body
{
    height:100%;
    background-color: #AAAAAA;
}
header
{
    background:#ff0;
    padding:10px;
}
main
{
    padding: 10px 10px 60px;
}
footer
{
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
}

#content
{
    height: 80vh;
}