<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=yes, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="icon" href="{{ asset('img/logo.jpg') }}"
    {% endblock %}
</head>
<body>
<header>
    <h1 id="mainTitle">{% block mainTitle %}{% endblock %}</h1>
    {% include('inc/nav.html.twig') %}
</header>
<main>
    <section id="content">
        {% block content %}{% endblock %}
    </section>
    <aside id="aside">
        {% block aside %}{% endblock %}
    </aside>
</main>
<footer id="footer">
    {% block footer %}
        &copy; Copyright 2020 <a href="">
        Mon super Site</a>. {{ "now"|date("Y") }}
    {% endblock %}
</footer>
</body>
</html>